@import 'color';
@import '~normalize.css';
@import '~milligram-scss';

$backgroundColor: rgba(255, 255, 255, 1);
$headerHeight: 6rem;

body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
}

main {
  margin-top: $headerHeight + 2rem;
}

// components
@import 'components/navigation';
@import 'components/buttons';

// pages
@import 'components/standings';
